<header>
    <h1>Bits and blogs</h1>
    <ul id="HeaderList">
        <li class="HeaderItem">Home</li>
        <li class="HeaderItem">New Post</li>
    </ul>
</header>

<div id="Fixed-Bio">
    <img>
    <h2 id="MyName">Karl Fleming</h2>
    <div id="Line"></div>
    <p>My name is Karl, this is my blog app.
        here you can view the current posts,
        but also you can edit or delete any
        post you wish. Or, post your own! 
    </p>
</div>

<main>

    <section>
        <h3>Title</h3>
        <p>Time</p>
        <div>
            <p>Content</p>
        </div>
        <button>Edit</button>
        <button>Delete Post</button>
    </section>

</main>